<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TugasAkhir.Properties.Settings.AlbumConnectionString"
            connectionString="Data Source=LAPTOP-07EGJ8M5\SQLEXPRESS01;Initial Catalog=Album;User ID=sa;Password=annisa16"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>